{% extends "layout.html" %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'includes/user-header.html' %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
{% block content %}
<form class="form" action="how-sift" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">Sifting and selection methods</span>
<h1 class="govuk-heading-l">Assessment methods</h1>

<p>Once a vacancy advert has closed, you will undertake the sifting stage of the recruitment process. Following the sifting stage, successful applicants are invited to attend an interview.</p>

<h2 class="govuk-heading-m">Success profiles</h2>
<p><i>Salutantibus vitae elit libero, a pharetra augue. Pellentesque habitant morbi tristique senectus et netus. Tu quoque, Brute, fili mi, nihil timor populi, nihil! Contra legem facit qui id facit quod lex prohibet.
</i></p>



<h2 class="govuk-heading-m">Sifting</h2>
<p>You will decide what experience, skills and behaviours you will use to sift candidates. You will also decide which methods to use such as CV, or personal statement. At this stage you can also include online tests.</p>

<h2 class="govuk-heading-m">Interviews</h2>
<p>You will decide what experience, skills and behaviours you will use to interview candidates. This could be through interview questions or additional assessment methods, such as a presentation.</p>

<button class="govuk-button" data-module="govuk-button">Continue</button>

{{ govukButton({
  text: "Preview advert",
  classes: "govuk-button--secondary",
  href: "preview-advert"
}) }}
{% include 'includes/return-task-list.html' %}
<input type="hidden" name="ass-methods" value="true">

</div>
</div>
</form>
{% endblock %}
