{% extends "layout.html" %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'includes/user-header.html' %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">Contract information</span>
    <h1 class="govuk-heading-l">These are the standard civil service benefits</h1>
      <form class="form" action="/benefits-handler" method="post">
    {% set changeHtml %}
    <a href="">Change</a>
    {% endset %}
    {{ govukTable({
      rows: [
        [
          {
            text: "Learning and development tailored to your role"
          },
          {
            html: changeHtml
          }
        ],
        [
          {
            text: "An environment with flexible working options"
          },
          {
            html: changeHtml
          }
        ],
        [
          {
            text: " A culture encouraging inclusion and diversity"
          },
          {
            html: changeHtml
          }
        ],
        [
          {
            text: "A Civil Service pension"
          },
          {
            html: changeHtml
          }
        ]
      ]
    }) }}

<p><a href="">Add another benefit</a></p>




<button class="govuk-button" data-module="govuk-button">Continue</button>

{{ govukButton({
  text: "Preview advert",
  classes: "govuk-button--secondary",
  href: "preview-advert"
}) }}
{% include 'includes/return-task-list.html' %}
<input type="hidden" name="benefits-viewed" value="true">
</form>
</div>
</div>
{% endblock %}
