{% extends "layout.html" %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'includes/user-header.html' %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

  {% block content %}

  {% set ftaHTML %}
  {% from "govuk/components/input/macro.njk" import govukInput %}
  {{ govukInput({
    label: {
      text: "How long is the contract for, in months?"
    },
    classes: "govuk-input--width-5",
    value: data['contract-length'],
    id: "contract-length",
    name: "contract-length",
    suffix: {
      text: "months"
    },
    spellcheck: false
  }) }}
  {% endset %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">Contract information</span>
    <h1 class="govuk-heading-l">Contract details</h1>

<form class="form" action="/contract-details-handler" method="post">
    {{ govukRadios({
    id: "contract",
    name: "contract",
    fieldset: {
      legend: {
        text: "What is the contract for the role?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "Apprenticeship",
        text: "Apprenticeship",
        checked: checked("contract", "Apprenticeship")
      },
      {
        value: "Assisted transfer",
        text: "Assisted transfer",
        checked: checked("contract", "Assisted")
      },
      {
        value: "Fixed term",
        text: "Fixed term",
        checked: checked("contract", "fixed"),
        conditional: {
          html: ftaHTML
        }
      },
      {
        value: "Internship",
        text: "Internship",
        checked: checked("contract", "Internship")
      },
      {
        value: "Loan",
        text: "Loan",
        checked: checked("contract", "Loan")
      },
      {
        value: "Overseas",
        text: "Overseas",
        checked: checked("contract", "Overseas")
      },
      {
        value: "Permanent",
        text: "Permanent",
        checked: checked("contract", "Permanent")
      },
      {
        value: "Temporary",
        text: "Temporary",
        checked: checked("contract", "Temporary")
      }
    ]
  }) }}
  {{ govukCheckboxes({
  id: "working-pattern",
  name: "working-pattern",
  fieldset: {
    legend: {
      text: "What is the working pattern for the role?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "Annualised",
      text: "Annualised hours",
      checked: checked("working-pattern", "Annualised")
    },
    {
      value: "Compressed",
      text: "Compressed hours",
      checked: checked("working-pattern", "Compressed")
    },
    {
      value: "Flexible-working",
      text: "Flexible working",
      checked: checked("working-pattern", "Flexible-working")
    },
    {
      value: "Fulltime",
      text: "Full-time",
      checked: checked("working-pattern", "Fulltime")
    },
    {
      value: "Homeworking",
      text: "Homeworking",
      checked: checked("working-pattern", "Homeworking")
    },
    {
      value: "Jobshare",
      text: "Job share",
      checked: checked("working-pattern", "Jobshare")
    },
    {
      value: "Part-time",
      text: "Part-time",
      checked: checked("working-pattern", "Part-time")
    }
  ]
  }) }}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

        {{ govukButton({
          text: "Preview advert",
          classes: "govuk-button--secondary",
          href: "preview-advert"
        }) }}
        {% include 'includes/return-task-list.html' %}

</form>
</div>
</div>
{% endblock %}
