{% extends "layout.html" %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'includes/user-header.html' %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">Contract information</span>
    <h1 class="govuk-heading-l">Would you like anyone else to receive updates on the vacancy?</h1>
      <form class="form" action="reserved-status" method="post">
    {{ govukRadios({
      idPrefix: "updates",
      name: "updates",
      fieldset: {
        legend: {
          text: "",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "This is in addition to the post creator, main contact, and panel members"
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          checked: checked("updates", "yes")
        },
        {
          value: "no",
          text: "No",
          checked: checked("updates", "no")
        }
      ]
    }) }}

    <div id="conditional">
      {% from "govuk/components/input/macro.njk" import govukInput %}
      {{ govukInput({
        label: {
          text: "What is their email address?",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        classes: "govuk-input--width-20",
        id: "their-email",
        name: "their-email",
        value: data['their-email']
      }) }}


        {{ govukRadios({
          idPrefix: "update-detail",
          name: "update-detail",
          fieldset: {
            legend: {
              text: "What updates would you like them to receive?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "all updates",
              text: "all updates",
              checked: checked("update-detail","all updates")
            },
            {
              value: "updates after advert end",
              text: "updates after advert end",
              checked: checked("update-detail","updates after advert end")
            }
          ]
        }) }}
        </div>







<button class="govuk-button" data-module="govuk-button">Continue</button>
{{ govukButton({
text: "Preview advert",
classes: "govuk-button--secondary",
href: "preview-advert"
}) }}
{% include 'includes/return-task-list.html' %}
</form>




</div>
</div>
{% endblock %}
