{% extends "layout.html" %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'includes/user-header.html' %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Sifting and selection methods</span>
    <h1 class="govuk-heading-l">What essential criteria will you assess?</h1>
    <h2 class="govuk-heading-m">At sift?</h2>
    <form class="form" action="behaviours" method="post">


    {% set nappy = [] %}
    {% set t1 = data['experience1'].length %}
    {% set t2 = data['experience2'].length %}
    {% set t3 = data['experience3'].length %}
    {% set t4 = data['experience4'].length %}

    {% if t1 >= 1 %}
    {% set nappy = (nappy.push(data['experience1']), nappy)  %}
    {% endif %}

    {% if t2 >= 1 %}
    {% set nappy = (nappy.push(data['experience2']), nappy)  %}
    {% endif %}

    {% if t3 >= 1 %}
    {% set nappy = (nappy.push(data['experience3']), nappy)  %}
    {% endif %}

    {% if t4 >= 1 %}
    {% set nappy = (nappy.push(data['experience4']), nappy)  %}
    {% endif %}



      <div class="govuk-form-group">
      {%- for items in nappy | slice(1) %}
      <div class="govuk-checkboxes-{{ loop.index }}" data-module="govuk-checkboxes" name="siftexp">
        {%- for item in items %}
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="selsiftexp" name="selsiftexp" type="checkbox"  value="{{ item }}">

          <label class="govuk-label govuk-checkboxes__label" for="selsiftexp" value="{{ item }}"> {{ item }}</label></div>
          {%- endfor %}

        </div>
        {%- endfor %}


      </div>


      <h2 class="govuk-heading-m">At interview?</h2>

      <div class="govuk-form-group">
      {%- for items in nappy | slice(1) %}
      <div class="govuk-checkboxes-{{ loop.index }}" data-module="govuk-checkboxes" name="interviewexp">
        {%- for item in items %}
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="selinterviewexp" name="selinterviewexp" type="checkbox" value="{{ item }}">

          <label class="govuk-label govuk-checkboxes__label" for="selinterviewexp" value="{{ item }}"> {{ item }}</label></div>
          {%- endfor %}

        </div>
        {%- endfor %}


      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
      {{ govukButton({
        text: "Preview advert",
        classes: "govuk-button--secondary",
        href: "preview-advert"
      }) }}
      {% include 'includes/return-task-list.html' %}
      </form>
    </div>
  </div>
  {% endblock %}
