{% extends "layout.html" %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'includes/user-header.html' %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
      <form class="form" action="interview-evidence" method="post">
{% set otherHTML %}
{{ govukInput({
  label: {
    text: "What other methods do you want to use at sift?",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  hint: {
    text: "For example, a design portfolio."
  },
  id: "anything-else",
  name: "anything-else",
  value: data['anything-else']
}) }}
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Sifting and selection methods</span>

    {{ govukCheckboxes({
    id: "howsift",
    name: "howsift",
    fieldset: {
      legend: {
        text: "How will you assess at sift?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: [
    {
      value: "Behaviour statements",
      text: "Behaviour statements",
      checked: checked("howsift","Behaviour statements")
    },
      {
        value: "CV",
        text: "CV",
        checked: checked("howsift","CV")
      },
      {
        value: "Personal statement",
        text: "Personal statement",
        checked: checked("howsift","Personal statement")
      },
      {
        value: "Portfolio",
        text: "Portfolio",
        checked: checked("howsift","Portfolio")

      },
      {
        value: "Other",
        text: "Other",
        conditional: {
          html: otherHTML
        }
      }
    ]
    }) }}

    <button class="govuk-button" data-module="govuk-button">Continue</button>
    {{ govukButton({
      text: "Preview advert",
      classes: "govuk-button--secondary",
      href: "preview-advert"
    }) }}
{% include 'includes/return-task-list.html' %}
</form>

</div>
</div>
{% endblock %}
