{% extends "layout.html" %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'includes/user-header.html' %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
{% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Sifting and selection methods</span>
          <h1 class="govuk-heading-l">What skills and qualifications will you assess at sift?</h1>
            <form class="form" action="how-sift" method="post">


              {% set arr = data['technical1'] %}
              {% set arr2 = data['technical2'] %}
              {% set arr3 = data['technical3'] %}
              {% set arr4 = data['technical4'] %}
              {% set array = [arr, arr2, arr3, arr4] | truncate(20) %}


              {%- for items in array| slice(1) %}
              <div class="govuk-checkboxes-{{ loop.index }}" data-module="govuk-checkboxes" name="techsift">
                {%- for item in items %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="techsift" name="techsift" type="checkbox" value="{{ item }}">
                  <label class="govuk-label govuk-checkboxes__label" for="techsift"> {{ item }}</label></div>
                  {%- endfor %}
                </div>
                {%- endfor %}
              </div>

<!--
    {{ govukCheckboxes({
    id: "siftskillqual",
    name: "siftskillqual",
        items: [
      {

        value: data['technical1'],
        text: data['technical1'],
        checked: checked("siftskillqual", data['technical1'])
      }
    ]
    }) }} -->

    <button class="govuk-button" data-module="govuk-button">Continue</button>
    {{ govukButton({
      text: "Preview advert",
      classes: "govuk-button--secondary",
      href: "preview-advert"
    }) }}

  </form>

{% include 'includes/return-task-list.html' %}
</div>
</div>
{% endblock %}
