{% extends "layout.html" %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'includes/user-header.html' %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Sifting and selection methods</span>
        <form class="form" action="sift-skills" method="post">

    {{ govukCheckboxes({
    id: "siftessential",
    name: "siftessential",
    fieldset: {
      legend: {
        text: "What essential criteria will you assess at sift?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: [
      {
        value: data['experience1'],
        text: data['experience1'],
        checked: checked("siftessential", data['experience1'])
      },
      {
        value: data['experience2'],
          text: data['experience2'],
          checked: checked("siftessential", data['experience2'])
      },
        {
        value: data['experience3'],
        text: data['experience3'],
        checked: checked("siftessential", data['experience3'])
      }
    ]
    }) }}

    <button class="govuk-button" data-module="govuk-button">Continue</button>
    {{ govukButton({
      text: "Preview advert",
      classes: "govuk-button--secondary",
      href: "preview-advert"
    }) }}
{% include 'includes/return-task-list.html' %}
</form>

</div>
</div>
{% endblock %}
