{% extends "layout.html" %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'includes/user-header.html' %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">Sifting and selection methods                                                                                                               </span>
    <h1 class="govuk-heading-l">Select strengths to interview</h1>
    <form class="form" action="technical" method="post">
    <p>The following strengths have been recommended based on the behaviours selected. Select up to 4 total.</p>





    {%- for items in data['interviewbehaviours']|slice(1) %}
    <div name="interviewbehaviours">
     {%- for item in items %}
     <h2 class="govuk-heading-m">{{ item }}</h2>
     {{ govukCheckboxes({
       name: "strengths",
       items: [
         {
           hint: {
             text: "You can bring a fresh perspective whatever the situation or context.
    You see other people’s views and can appreciate there are many
    different angles to consider."
           },
           value: "Challenger",
           checked: checked(item,"Challenger"),
           text: "Challenger"
         },
         {
           hint: {
             text: "You pursue things which give you a sense of meaning and purpose,
    working towards a longer term goal."
           },
           value: "Mission",
           checked: checked(item,"Mission"),
           text: "Mission"
         },
         {
           hint: {
             text: "You are positive and inspirational in leading and supporting others
    through change."
           },
           value: "Change agent",
           checked: checked(item,"Change agent"),
           text: "Change agent"
         }
       ]
     }) }}
     {%- endfor %}
     </div>
     {%- endfor %}





    <button class="govuk-button" data-module="govuk-button">Continue</button>
    {{ govukButton({
      text: "Preview advert",
      classes: "govuk-button--secondary",
      href: "preview-advert"
    }) }}
{% include 'includes/return-task-list.html' %}
</form>

</div>
</div>
{% endblock %}
