{% extends "layout.html" %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'includes/user-header.html' %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Summary</span>
    <h1 class="govuk-heading-xl">Recruitment channels</h1>

    <h2 class="govuk-heading-l">At Interview</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Approach</dt>
        <dd class="govuk-summary-list__value">{{ data['who-can-apply']}}

        </dd>
        <dd class="govuk-summary-list__actions"><a href="approach?edit21=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Approval</dt>
        <dd class="govuk-summary-list__value">{{ data['approval-status']}}<br>{{ data['file-upload-1']}}
        </dd>
        <dd class="govuk-summary-list__actions"><a href="approval?edit22=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Reserve list</dt>
        <dd class="govuk-summary-list__value">{{ data['reserve-list-required']}}

        </dd>
        <dd class="govuk-summary-list__actions"><a href="reserve-list?edit23=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Attraction methods</dt>
        <dd class="govuk-summary-list__value">
          {% if data['attraction'].length >= 1 %}
          {% for items in data['attraction'] | slice(1) %}
          <ul class="govuk-list govuk-list--bullet {{ loop.index }}">
            {% for item in items %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% endfor %}
          {% else %}
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions"><a href="attraction-methods?edit24=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
    </dl>





  </div>
</div>

<span class="govuk-caption-l">Next section</span>
<h2 class="govuk-heading-l">Finalise and submit</h2>
<form action="interviews" method="post" novalidate>
  <input type="hidden" name="summary5" value="true">
  <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
</form>


{% include 'includes/return-task-list.html' %}
{% endblock %}
