{% extends "layout.html" %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'includes/user-header.html' %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl">Summary</span>
    <h1 class="govuk-heading-xl">Advert setup</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Person specification</dt>
        <dd class="govuk-summary-list__value">{{ data['person-spec'] | truncate(150)}}</dd>
        <dd class="govuk-summary-list__actions"><a href="about-the-role?edit9=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Responsibilities</dt>
        <dd class="govuk-summary-list__value">{{ data['respon']  | truncate(150)}}</dd>
        <dd class="govuk-summary-list__actions"><a href="about-the-role?edit9=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
    </dl>
    {% set technicalArray = [] %}
    {% set essentialArray = [] %}
    {% set c1 = data['experience1'].length %}
    {% set c2 = data['experience2'].length %}
    {% set c3 = data['experience3'].length %}
    {% set c4 = data['experience4'].length %}
    {% set t1 = data['technical1'].length %}
    {% set t2 = data['technical2'].length %}
    {% set t3 = data['technical3'].length %}

    {% if c1 >= 1 %}
    {% set essentialArray = (essentialArray.push(data['experience1']), essentialArray)  %}
    {% endif %}

    {% if c2 >= 1 %}
    {% set essentialArray = (essentialArray.push(data['experience2']), essentialArray)  %}
    {% endif %}

    {% if c3 >= 1 %}
    {% set essentialArray = (essentialArray.push(data['experience3']), essentialArray)  %}
    {% endif %}

    {% if c4 >= 1 %}
    {% set essentialArray = (essentialArray.push(data['experience4']), essentialArray)  %}
    {% endif %}

    {% if t1 >= 1 %}
    {% set technicalArray = (technicalArray.push(data['technical1']), technicalArray)  %}
    {% endif %}

    {% if t2 >= 1 %}
    {% set technicalArray = (technicalArray.push(data['technical2']), technicalArray)  %}
    {% endif %}

    {% if t3 >= 1 %}
    {% set technicalArray = (technicalArray.push(data['technical3']), technicalArray)  %}
    {% endif %}

{% set nappy = [] %}


{% set firstThing = data['experience1'] %}
{% set secondThing = data['experience2'] %}
{% set thirdThing = data['experience3'] %}
{% set fourthThing = data['experience4'] %}


  {% set nappy = (nappy.push(thirdThing), nappy)  %}
  {% set nappy = (nappy.push(secondThing), nappy)  %}
{% set nappy = (nappy.push(firstThing), nappy)  %}

{% set array = [ data['experience1'], data['experience2'], data['experience3'], data['experience4'] ]  %}

  <!-- {% set nappy = (nappy.push(secondThing), nappy)  %}
{% set nappy = (nappy.push(firstThing), nappy)  %} -->


<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Essential criteria</dt>
    <dd class="govuk-summary-list__value">
      {% if essentialArray.length > 0 %} 
        {% for items in essentialArray | slice(1) %}
        <ul class="govuk-list govuk-list--bullet {{ loop.index }}">
          {% for item in items %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
        {% else %}
        {% endif %}
    </dd>
      <dd class="govuk-summary-list__actions"><a href="essential-criteria?edit10=true">Change<span class="govuk-visually-hidden"> department</span></a></dd>
    </div>
  </dl>



  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Technical skills and qualifications </dt>
      <dd class="govuk-summary-list__value">

          {% for items in technicalArray| slice(1) %}
          <ul class="govuk-list govuk-list--bullet {{ loop.index }}">
            {% for item in items %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% endfor %}
      </dd>
        <dd class="govuk-summary-list__actions"><a href="tech-criteria?edit11=true">Change<span class="govuk-visually-hidden"> department</span></a></dd>
      </div>
    </dl>


    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Eliminating criteria</dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
            <li>
              Fluent French
            </li>
            <li>
              Office-based for 3-days a week
            </li>
          </ul>
          </dd>
        <dd class="govuk-summary-list__actions"><a href="pre-sift-questions?edit12=true">Change<span class="govuk-visually-hidden"> department</span></a></dd>
      </div>
    </dl>



    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Supporting information</dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
            <li>
              {{ data['careers-site']}}
            </li>
            <li>
              {{ data['twitter-contact-us']}}
            </li>
          </ul>


        </dd>
        <dd class="govuk-summary-list__actions"><a href="additional-info?edit=true">Change<span class="govuk-visually-hidden"> department</span></a></dd>
      </div>
    </dl>



<span class="govuk-caption-l">Next section</span>
<h2 class="govuk-heading-l">Sifting and selection methods</h2>
<form action="assessment-methods" method="post" novalidate>
  <input type="hidden" name="summary3" value="true">
  <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
</form>

{% include 'includes/return-task-list.html' %}
</div>
{% endblock %}
