{% extends "layout.html" %}

{% block pageTitle %}
Sifting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'includes/user-header.html' %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    {% if  data['allowances'] == "yes" %}
    {% include 'includes/noextras.html' %}
    {% elseif data['allowances'] == "no" %}
    {% endif %}




    {% set vhHTML %}
    {{govukTag({
      text: "in progress",
      classes: "govuk-tag--blue"
    })}}
    {% endset %}


    {% set leadHTML %}
    {{govukTag({
      text: "Lead to complete",
      classes: "govuk-tag--blue"
    })}}
    {% endset %}
    {% set panelHTML %}
    {{govukTag({
      text: "Panel to complete",
      classes: "govuk-tag--grey"
    })}}
    {% endset %}
    {% set recruiterHTML %}
    {{govukTag({
      text: "Recruiter to complete",
      classes: "govuk-tag--yellow"
    })}}




    {% endset %}


    {% from "govuk/components/table/macro.njk" import govukTable %}
    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {
          text: "Ref",
          classes: 'app-custom-class'
        },
        {
          text: "Job title",
          classes: 'app-custom-class'
        },
        {
          text: "Last modified",
          classes: 'app-custom-class'
        },
        {
          text: "Action needed",
          classes: 'app-custom-class'
        }
      ],
      rows: [
        [
          {
            html: '<a href="task-list-new-campaign">226174</a>'
          },
          {
            text: data['temp-copy-input-autocomplete']
          },
          {
            text: "19 September 2022"
          },
          {
            html: vhHTML
          }
        ],
        [

        ],
        [

        ]
      ]
    }) }}


    {% endblock %}
