212{% extends "layout.html" %}

{% block pageTitle %}
  Create a job – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'includes/user-header.html' %}
        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}
        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">{{ data['what-is-job-title']}} {{ data['grade']}}</span>
    <h1 class="govuk-heading-xl">
      Create a vacancy
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Vacancy incomplete</h2>
    <p class="govuk-body govuk-!-margin-bottom-2">You have completed 0 of 19 sections.</p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">About the vacancy</span></h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="blank/basic-details" aria-describedby="basic-details">
                Basic details
              </a>
            </span>
            {% if data['what-is-job-title'] !== '' %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
            {% elif data['what-is-job-title'] == '' %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
              {% endif %}


          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="blank/job-information" aria-describedby="read-declaration-status">
                Job information
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
          </li>
          </ul>
          </li>
          <li>
            <h2 class="app-task-list__section"><span class="app-task-list__section-number">Contract information</span></h2>
            <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="blank/locations" aria-describedby="list-convictions-status">
                      Locations</a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="blank/contract-details" aria-describedby="list-convictions-status">
                      Contract details</a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="blank/benefits" aria-describedby="list-convictions-status">
                      Benefits</a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="blank/contact-details" aria-describedby="list-convictions-status">
                      Contact details</a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="blank/reserved-status" aria-describedby="list-convictions-status">
                      Reserved status, checking, and vetting</a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                  </li>
                </ul>
                </li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">Advert set up</span></h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="blank/about-the-role" aria-describedby="read-declaration-status">
                    About the role
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
              </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="blank/essential-criteria" aria-describedby="read-declaration-status">
                  Essential criteria
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="blank/tech-criteria" aria-describedby="read-declaration-status">
                  Technical skills
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="blank/pre-sift-questions" aria-describedby="read-declaration-status">
                    Pre-qualifying criteria
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="blank/behaviours" aria-describedby="read-declaration-status">
                    Success profiles
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="blank/additional-info" aria-describedby="read-declaration-status">
                    Additional information
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Optional</strong>
              </li>
              </ul>
              </li>

  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">Sifting and selection methods</span></h2>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="blank/assessment-methods" aria-describedby="eligibility-status">
            Assessment methods
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
      </li>





          </ul>
          </li>

          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Recruitment channels</span></h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="blank/approach" aria-describedby="company-information-status">
                  Approach
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="blank/approval" aria-describedby="contact-details-status">
                  Approval
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="blank/reserve-list" aria-describedby="list-convictions-status">
                  Reserve list
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="blank/attraction-methods" aria-describedby="list-convictions-status">
                Attraction methods
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong>
            </li>

        </ul>
        </li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Review and manage</span></h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="blank/interviews" aria-describedby="list-convictions-status">
                  Panel</a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not started</strong>
            </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="blank/review-advert" aria-describedby="list-convictions-status">
              Review advert
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Optional</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
<a href="vacancy-management" aria-hidden="list-convictions-status">
              Vacancy management
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
          </li>
        </ul>
</li>
</ol>
  </div>
</div>

{% endblock %}
