w{% extends "layout.html" %}

{% block pageTitle %}
Create a job – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'includes/user-header.html' %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}
{% endblock %}
{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"></span>
    <h1 class="govuk-heading-xl">
      Create a vacancy
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Vacancy incomplete</h2>
    <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 17 sections.</p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>About the vacancy
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/new-campaign-set-up/basic-details" aria-describedby="eligibility-status">
                Basic details
              </a>
            </span>


            {% if data['num-posts']|length >= 1 %}
            <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>

            {% elif data['grade']|length >= 1 %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
            {% endif %}


          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/new-campaign-set-up/job-information" aria-describedby="read-declaration-status">
                Job information
              </a>
            </span>



            {% if data['team-detail']|length >= 1 %}
            <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>

            {% elif data['business-area']|length >= 1 %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
            {% elif data['prof']|length >= 1 %}
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
            {% endif %}
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span>Contract information
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/new-campaign-set-up/locations" aria-describedby="list-convictions-status">
                Locations</a>
              </span>

              {% if data['uk'] == "Remote" %}
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>

              {% elif data['loc2-viewed']|length >= 1 %}
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>

              {% elif data['ussk']|length >= 1 %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
              {% elif data['uk']|length >= 1 %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/new-campaign-set-up/contract-details" aria-describedby="list-convictions-status">
                  Contract details</a>
                </span>

                {% if data['working-pattern']|length >= 1 %}
                <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>

                {% elif data['contract']|length >= 1 %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                {% elif data['fta']|length >= 1 %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                {% elif data['fta']|length >= 1 %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                {% endif %}


              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/new-campaign-set-up/benefits" aria-describedby="list-convictions-status">
                    Benefits</a>
                  </span>

                  {% if data['benefits-viewed']|length >= 1 %}
                  <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>

                  {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                  {% endif %}



                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/new-campaign-set-up/contact-details" aria-describedby="list-convictions-status">
                      Contact details</a>
                    </span>

                    {% if data['updates']|length >= 1 %}
                    <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>

                    {% elif data['their-email']|length >= 1 %}
                    <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                    {% elif data['update-detail']|length >= 1 %}
                    <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                    {% else %}
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                    {% endif %}
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="/new-campaign-set-up/reserved-status" aria-describedby="list-convictions-status">
                        Reserved status, checking, and vetting</a>
                      </span>


                      {% if data['bpss-correct']|length >= 1 %}
                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>

                      {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                      {% endif %}


                    </li>
                  </ul>
                </li>
                <h2 class="app-task-list__section">
                  <span class="app-task-list__section-number">3. </span>Advert set up
                </h2>
                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="/new-campaign-set-up/about-the-role" aria-describedby="read-declaration-status">
                        About the role
                      </a>
                    </span>

                    {% if data['respon']|length >= 1 %}
                    <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                    {% elif data['person-spec']|length >= 1 %}

                    <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                    {% else %}
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                    {% endif %}


                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="/new-campaign-set-up/essential-criteria" aria-describedby="read-declaration-status">
                        Essential criteria
                      </a>
                    </span>

                    {% if data['experience3']|length >= 1 %}
                    <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                    {% elif data['experience2']|length >= 1 %}

                    <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                    {% elif data['experience1']|length >= 1 %}
                    <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                    {% else %}
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                    {% endif %}


                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="/new-campaign-set-up/tech-criteria" aria-describedby="read-declaration-status">
                        Technical skills
                      </a>
                    </span>

                    {% if data['technical1']|length >= 1 %}

                    <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                    {% else %}
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                    {% endif %}
                  </li>

                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="/new-campaign-set-up/pre-sift-questions" aria-describedby="list-convictions-status">
                        Eliminating criteria</a>
                      </span>

                      {% if data['pre-sift-viewed']|length >= 1 %}
                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>

                      {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                      {% endif %}
                    </li>

                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="/new-campaign-set-up/additional-info" aria-describedby="read-declaration-status">
                          Additional information
                        </a>
                      </span>


                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Optional</strong>

                    </li>
                  </ul>

                  <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">4. </span>Sifting and selection methods
                  </h2>
                  <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="/new-campaign-set-up/assessment-methods" aria-describedby="eligibility-status">
                          Assessment methods
                        </a>
                      </span>
                      {% if data['ass-methods']|length >= 1 %}
                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>

                      {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                      {% endif %}
                    </li>

                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="/new-campaign-set-up/how-sift" aria-describedby="read-declaration-status">
                          How will you assess at sift?
                        </a>
                      </span>
                      {% if data['howsift']|length >= 1 %}
                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>

                      {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                      {% endif %}


                    </li>

                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="/new-campaign-set-up/interview-evidence" aria-describedby="read-declaration-status">
                          How will you interview?
                        </a>
                      </span>
                      {% if data['interview-assessments']|length >= 1 %}
                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>

                      {% elif data['what-assessments']|length >= 1 %}
                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                      {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                      {% endif %}
                    </li>

                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="/new-campaign-set-up/online-tests" aria-describedby="read-declaration-status">
                          Online tests
                        </a>
                      </span>
                      {% if data['tests']|length >= 1 %}

                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                      {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                      {% endif %}


                    </li>

                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="/new-campaign-set-up/experience" aria-describedby="read-declaration-status">
                          Essential criteria at sift and interview
                        </a>
                      </span>
                      {% if data['selinterviewexp']|length >= 1 %}

                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                      {% elif data['selsiftexp']|length >= 1 %}
                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                      {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                      {% endif %}

                    </li>
                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="/new-campaign-set-up/behaviours" aria-describedby="read-declaration-status">
                          Behaviours at sift and interview
                        </a>
                      </span>
                      {% if data['interviewbehaviours']|length >= 1 %}

                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                      {% elif data['siftbehaviours']|length >= 1 %}

                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                      {% elif data['behave1']|length >= 1 %}
                      <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                      {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                      {% endif %}

                    </li>

                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="/new-campaign-set-up/behaviours" aria-describedby="read-declaration-status">
                          Technical skills at sift and interview
                        </a>
                      </span>
                      {% if data['selsiftskills']|length >= 1 %}

                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                      {% elif data['selinterviewskills']|length >= 1 %}

                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                      {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                      {% endif %}
                    </li>

                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="/new-campaign-set-up/other-methods" aria-describedby="read-declaration-status">
                          Additional assessment requirements
                        </a>
                      </span>
                      {% if data['additional-assessments']|length >= 1 %}

                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                      {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                      {% endif %}
                    </li>
                  </ul>

                  <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">5. </span>Recruitment channels
                  </h2>
                  <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="/new-campaign-set-up/approach" aria-describedby="company-information-status">
                          Approach
                        </a>
                      </span>
                      {% if data['who-can-apply']|length >= 1 %}

                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                      {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                      {% endif %}
                    </li>
                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="/new-campaign-set-up/approval" aria-describedby="contact-details-status">
                          Approval
                        </a>
                      </span>
                      {% if data['approval-status'] == "Yes - approved" %}

                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                      {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                      {% endif %}
                    </li>
                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="/new-campaign-set-up/reserve-list" aria-describedby="list-convictions-status">
                          Reserve list
                        </a>
                      </span>
                      {% if data['reserve-list-required']|length >= 1 %}

                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                      {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                      {% endif %}
                    </li>
                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="/new-campaign-set-up/attraction-methods" aria-describedby="list-convictions-status">
                          Attraction methods
                        </a>
                      </span>
                      {% if data['attraction']|length >= 1 %}

                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                      {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                      {% endif %}
                    </li>
                  </ul>

                  <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">6. </span>Finalise and submit
                  </h2>
                  <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="/new-campaign-set-up/interviews" aria-describedby="list-convictions-status">
                          Panel</a>
                        </span>
                        {% if data['panelist3']|length >= 1 %}

                        <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                        {% elif data['panel-selected']|length >= 1 %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                        {% elif data['panel-sift-int']|length >= 1 %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                        {% elif data['panelist1']|length >= 1 %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                        {% elif data['panelist2']|length >= 1 %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                        {% elif data['panelist3']|length >= 1 %}

                        <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                        {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                        {% endif %}
                      </li>
                      <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          <a href="/new-campaign-set-up/campaign-dates" aria-hidden="list-convictions-status">
                            Campaign dates
                          </span>
                          {% if data['advert-time']|length >= 1 %}

                          <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                          {% elif data['day']|length >= 1 %}
                          <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                          {% elif data['month']|length >= 1 %}
                          <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                          {% elif data['year']|length >= 1 %}
                          <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status">In progress</strong>
                          {% else %}
                          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                          {% endif %}

                        </li>
                        <li class="app-task-list__item">
                          <span class="app-task-list__task-name">
                            <a href="/new-campaign-set-up/pre-submit-reviewer" aria-hidden="list-convictions-status">
                              Share with internal reviewers, approvers
                            </span>
                            {% if data['reviewer']|length >= 1 %}

                            <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>            {% elif data['advert-time']|length >= 1 %}
                            {% else %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                            {% endif %}
                          </li>
                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="/new-campaign-set-up/submit" aria-hidden="list-convictions-status">
                                Submit
                              </span>
                              {% if data['submitted'] == "true" %}

                              <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                                {% elif data['reviewer']|length >= 1 %}
                              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
                              {% else %}
                              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
                              {% endif %}
                            </li>
                          </ul>

                        </ol>
                      </div>
                    </div>

                    {% endblock %}
